input {
  display: none;
}

.creativeLogo {
  padding: 14px;
  margin: 18px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid white;
}

.branding {
  font-size: 10px;
  text-transform: capitalize;
}

.imgWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
}

.imgGrid {
  flex: 0.25%;
  width: 33%;
}

#firstImg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  color: white;
  background: #fc758c;
  -moz-box-shadow: 17px -7px 42px #9c969c;
  -webkit-box-shadow: 17px -7px 42px #9c969c;
  box-shadow: 17px -7px 42px #9c969c; 
}

#gripWrapper {
  display: flex;
  justify-content: center;
}

#gripWrapper i {
  margin: 30px 10px 0px 10px;
}

#subNavBar {
  display: flex;
  justify-content: center;
}

#photos {
  margin: 0;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#photos img {
  width: 300px;
  height: auto;
  margin: 10px;
  -moz-box-shadow: 17px -7px 42px #9c969c;
  -webkit-box-shadow: 17px -7px 42px #9c969c;
  box-shadow: 17px -7px 42px #9c969c;
}

#gridShowBtnWrapper {
  display: flex;
  justify-content: center;
}

#gridShowBtn {
	background-color: #fc758c;
	border: none;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
	padding: 15px 32px;
	text-align: center;
  text-decoration: none;
  text-transform: capitalize;
	display: inline-block;
	font-size: 16px;
}

#gridShowBtn:hover {
	background-color: white;
	border: 1px solid black;
	color: #fc758c;
}

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 690px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}